<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="landing">
                <div class="project">
                    <h1>blog site</h1>
                    <p class="subtitle">python (flask), html, css, js</p>
                    <br>
                    <p class="description">
                        fully custom website made with python, flask, html, css, and javascript.
                    </p>
                    <br><br>
                    <div class="links">
                        <a href="/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/projects">projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/brady-ancell/" target="_blank">linkedin</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://github.com/bancell04" target="_blank">github</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/blog">blog</a>
                    </div>
                </div>
                <div class="headshot">
                    <img id="headshot" src="static/headshot.jpg">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
