{% extends 'base.html' %}


{% block title %}
brady ancell
{% endblock %}

{% block content %}
<div class="text">
    <div class="name">
        <h1>brady ancell</h1>
        <img id="cursor" src="{{ url_for('static', filename='cursor.jpg') }}" alt="cursor image">
    </div>
    <p class="subtitle">aspiring computer scientist</p>
    <img id="mobile-headshot" src="{{ url_for('static', filename='headshot.jpg') }}" alt="Brady Ancell headshot">

    <br>
    <p class="description">
        i'm a computer science student at the colorado school of mines, deeply passionate about coding, problem-solving, and innovative technology. my journey in tech is driven by a desire to create solutions that not only meet today’s needs but also anticipate tomorrow’s challenges.
        <br><br>
        i specialize in web and mobile app development, with a solid foundation in python, flask, and react native. beyond just coding, i have a keen interest in automation, designing tools that save time and improve efficiency. my creative side shines through in my design work, from logos to game textures, where i blend functionality with aesthetics.
        <br><br>
        i'm constantly exploring new technologies and methods to enhance my skill set. whether it's a complex web application, a mobile app, or an automation script, i approach each project with a focus on quality, innovation, and user experience.
        <br><br>
        explore my projects, connect with me on linkedin, check out my github, or read my thoughts on my blog.
    </p>
    <br><br>
    <div class="links">
        <a href="/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/work">work</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/projects">projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/blog">blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="no-underline" href="https://www.linkedin.com/in/brady-ancell/" target="_blank">
            <img src="{{ url_for('static', filename='linkedin-logo.png')}}" alt="linkedin logo">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="no-underline" href="https://github.com/bancell04" target="_blank">
            <img src="{{ url_for('static', filename='github-logo.png')}}" alt="github logo">
        </a>
    </div>
</div>
<div class="headshot">
    <img id="headshot" src="{{ url_for('static', filename='headshot.jpg') }}" alt="Brady Ancell headshot">
</div>

{% endblock %}