{% extends 'base.html' %}


{% block title %}
Projects
{% endblock %}

{% block content %}
<div class="project_page">
    <div class="name">
        <h1>projects</h1>
        <img id="cursor" src="{{ url_for('static', filename='cursor.jpg') }}" alt="cursor image">
    </div>

    <hr id="project_separator">

    <!-- PATH OF THE DISCIPLE -->
    <div class="project">
        <div class="project_desc">
            <p class="subtitle">bible-based pixel-art adventure game</p>
            <p class="date">aug 2024 - in progress</p>
            <p class="description">
                a pixel-art point-and-click adventure game inspired by biblical stories, currently in the beginning phases of development. players will embark on a journey as an early disciple of jesus, exploring significant events from his life. this project is in its early stages, with ongoing efforts to blend engaging storytelling with pixel-art visuals. the goal is to create an interactive experience that combines educational and spiritual elements, offering both entertainment and a deeper understanding of biblical themes. as development progresses, the focus will be on crafting a rich narrative and thoughtful design to ensure a meaningful and immersive gameplay experience.            </p>
        </div>
        <div class='project_img'>
            <div class="img_container">
                <img src="{{ url_for('static', filename='path-of-the-disciple.jpg') }}" alt="path of the disciple image">
            </div>
        </div>
    </div>

    <hr id="project_separator">

    <!-- PORTFOLIO WEBSITE -->
    <div class="project">
        <div class="project_desc">
            <p class="subtitle">personal portfolio website</p>
            <p class="date">aug 2024</p>
            <p class="description">
                a fully custom-built portfolio website designed to showcase my skills, projects, and experiences. developed using python and flask for the backend, with html, css, and javascript handling the frontend. the site features a clean, modern design with responsive layouts to ensure a seamless user experience across devices. key features include a dynamic project showcase, an interactive blog section, and a contact form. this project highlights my expertise in web development and my ability to create functional, visually appealing digital solutions.
            </p>
        </div>
        <div class='project_img'>
            <div class="img_container">
                <img src="{{ url_for('static', filename='html.png') }}" alt="html logo">
            </div>
        </div>
    </div>

    <hr id="project_separator">

    <!-- DISH WNE FRONTEND -->
    <div class="project">
        <div class="project_desc">
            <p class="subtitle">automated api frontend for dish network</p>
            <p class="date">may 2024 - july 2024</p>
            <p class="description">
                a frontend application developed for dish network during a summer field session in csci 370. the project utilized flask/jinja, html, css, bootstrap, and javascript to create an interactive interface for employees to manage and interact with various microservices. the frontend features forms that allow users to select http verbs from a dropdown, enter parameters with example values, and execute api calls. additionally, users can view the history of api calls made to each microservice along with their results. all data interactions are recorded and stored in an sqlite database, providing a comprehensive view of service usage and performance. this project demonstrates proficiency in integrating frontend technologies with backend services to deliver a functional and user-friendly application.
            </p>
        </div>
        <div class='project_img'>
            <div class="img_container">
                <img src="{{ url_for('static', filename='dish.png') }}" alt="dish network logo">
            </div>
        </div>
    </div>
    
    <hr id="project_separator">

    <!-- CLUE GAME -->
    <div class="project">
        <div class="project_desc">
            <p class="subtitle">clue game</p>
            <p class="date">feb 2024 - apr 2024</p>
            <p class="description">
                a clue-inspired game developed as part of the csci303 software engineering course. this project utilized java and object-oriented programming principles, including the singleton pattern, to design a robust and scalable game. the game features custom characters, graphics, and a unique map, all created to enhance the player’s experience. the development process involved applying key software engineering practices to ensure a well-structured and maintainable codebase. this project showcases proficiency in designing complex systems and implementing game mechanics with attention to detail and effective use of design patterns.
            </p>
        </div>
        <div class='project_img'>
            <div class="img_container">
                <img src="{{ url_for('static', filename='clue-game.png') }}" alt="screenshot of my clue game">
            </div>
        </div>
    </div>

    <hr id="project_separator">

    <br><br>
    <div class="links">
        <a href="/">home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/projects">projects</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/brady-ancell/" target="_blank">linkedin</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/bancell04" target="_blank">github</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/blog">blog</a>
    </div>
</div>
{% endblock %}