@font-face {
    font-family: SourceCodePro;
    src: url('styles/SourceCodePro-VariableFont_wght.ttf') format('opentype');
}

body {
    font-family: SourceCodePro, monospace;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    position: relative;
}

.landing {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 70%;
    height: 80%;
    min-width: 800px;
    margin: auto;
    line-height: 1.5;
}

.text {
    width: 55%;
    padding: 10px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-transform: lowercase;
}

.subtitle {
    font-size: 18px;
    color: gray;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #333;
}

.links > a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

.links > a:hover {
    text-decoration: none;
    font-size: 15px;
}

.headshot {
    width: 45%;
    position: relative;
    overflow: hidden;

}
.headshot img {
    width: 115%;
    height: 115%;
    object-fit: cover; 
    object-position: -260px  -100px; 

}